<div class="row">
	<div class="col-md-9">
		<header>
			<h1>Code Connection Admin Home Page</h1>
		</header>
	<div>
	<dlv class="col-md-3">
		<h1>Admin Links</h1>
		<ul class="nav nav-stacked">
			<li><%= link_to "Users Index", admin_users_path %>/li>
		</ul>
	</dlv>
</div>