.title {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  font-family:'Kranky', cursive;

}

.headline {
  margin-top: 155px;
  font-family: 'Luckiest Guy', cursive;
}

.navbar-default.navbar-static-top {
  background: none;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: 'Kranky', cursive;
}
